
server {
    listen *:80;
    listen *:443 ssl;

    server_name {{ item.value.server_names | join(" ") }};

    root {{ item.value.root }};

    error_log  /var/log/nginx/{{ item.key }}.error.log;
    access_log  /var/log/nginx/{{ item.key }}.access.log;

    location / {
        index index.html;
    }

    {% if item.value.location is defined and item.value.location.php is defined %}
    location ~ \.php$ {
        index index.php index.html;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass {{ item.value.location.php.fastcgi_pass }};
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        internal;
    }
    {% endif %}
}
